
body {
    font-family: Roboto, sans-serif;

    /*sticky footer*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    position:fixed;
    z-index: 10;
}

main {
    padding-top: 65px;
}

/* header, footer positioning (responsive) */

main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    input {
        height: 2rem !important;
    }
}

/* Adjust container width */
@media only screen and (min-width:993px) {
    .container {
        width: 80%;
    }
}
@media only screen and (min-width:601px) {
    .container {
        width: 95%;
    }
}


/* Sidenav */

@media only screen and (min-width : 992px) {
    .sidenav {
        top: 65px;
        height: 100%;
        padding-bottom: 0;
    }
}

a.sidenav-trigger {
    position: absolute;
    color: white;
    font-size: 48px;
    line-height: 1.0;
    padding-left: 10px;
}

.sidenav li {
    line-height: 1rem;
    padding: 0 10px 0 10px;
}

.sidenav li:hover {
    background-color:#eee;
}

/* fix https://github.com/Dogfalo/materialize/issues/2112 using dummy element */
.sidenav li:last-child {
    height:65px;
    background-color:#fff;
}


/* Sidenav elements */
label.variable {
    display:inline-block;
    width:125px;
    color: rgba(0,0,0, 0.87);
    margin-left: 15px;
}

.select-wrapper + label {
    top:-10px;
}

label.variable + input[type="number"]:not(.browser-default) {
    width:125px;
}

.variable-row {
    padding:15px;
}

/* Footer */
div.logos {
    text-align: center;
}
img.logos {
    max-height:100px;
}


/* Tabs: replace using SASS with default materialize in future */
.tabs .tab a:hover, .tabs .tab a.active {
    color: #1B5E20;
}

.tabs .tab a {
    color: rgba(27, 94, 32, 0.7);
    /*Custom Text Color*/
}

.tabs .tab a:hover {
    color: #1B5E20;
    /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
    color: #1B5E20;
    /*Custom Text Color While Active*/
    background-color: rgba(27, 94, 32, 0.2);
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color: #1B5E20;
    /*Custom Color Of Indicator*/
}


/* Helpers */
.no-margin {
    margin: 0;
}

.h1-label {
    margin-bottom: -35px;
}