version: '3.6'

services: 
  gunicorn:
    container_name: gunicorn
    build:
      context: ./server
    restart: unless-stopped
    expose:
      - 5000

  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      - gunicorn
    restart: unless-stopped
    ports:
        - 80:80
    volumes:
        - "${PWD}/conf/subsite.conf:/etc/nginx/conf.d/subsite.conf:ro"
        - "${PWD}/frontend:/var/www/html"
