version: '2'
services: 
    web:
        build: .
        ports: 
        - "8889:80"
        environment:
        - PROXY_PATH=/votebox/
        links:
        - mongo
    mongo:
        image: mongo
